<div class="dashboard-layout">
  <div class="panel panel-estudiantes">
    <h3>Estudiantes</h3>
    <app-lista-estudiantes></app-lista-estudiantes>
  </div>

  <div class="panel panel-acciones">
    <h3>Acciones</h3>
    <app-pago-crear (pagoGuardado)="refrescarPagos()"></app-pago-crear>
    <app-pago-status (pagoActualizado)="refrescarPagos()"></app-pago-status>
    <app-pago-archivo></app-pago-archivo>
  </div>

  <div class="panel panel-pagos">
    <h3>Pagos</h3>
    <app-lista-pagos></app-lista-pagos>
  </div>
</div>